<!DOCTYPE html>
<html>

<head>
    <title>async runtime demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="static/custom.css" rel="stylesheet">
    <style>
        /* SOCCER FIELD STYLES */
        svg {
            /* border: 1px solid black; */
            background-color: green;
            /* Green background for the field */
            fill: green;
            touch-action: none;
        }

        #field {
            background-color: green;
            fill: green;
            stroke: white;
            stroke-width: 2;
        }

        .player {
            fill: blue;
            /* Color of the player */
            stroke: white;
            stroke-width: 2;
        }

        .line {
            stroke: white;
            stroke-width: 2;
        }

        .ball {
            fill: white;
            /* Color of the ball */
            stroke: black;
            stroke-width: 2;
        }
    </style>
</head>

<body>
    <div id="container" class="webroot">
        <div id="grid" class="row">
            <div class="col-lg-3">
                <h3>Load Generators</h3>
                <div class="accordion" id="accordionGenerators">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSleep" aria-controls="collapseSleep" aria-expanded="false">
                                Sleep Tasks generator
                            </button>
                        </h2>
                        <div id="collapseSleep" class="accordion-collapse collapse"
                            data-bs-parent="#accordionGenerators">
                            <div class="accordion-body">
                                <p>This generator generates N tasks which will sleep for the specified amount of
                                    seconds.</p>
                                <form hx-post="/sleeper" hx-swap="none">
                                    <input id="tasks" name="tasks" value="10" min="1" max="1000000" type="number"
                                        class="form-control" />
                                    <label for="#tasks" class="form-label">Tasks</label>
                                    <br />
                                    <input id="time" name="time" value="10" min="1" max="3600" type="number"
                                        class="form-control" />
                                    <label for="#time" class="form-label">seconds lifetime (per task)</label>
                                    <br />
                                    <button class="btn btn-primary" type="submit">Spawn</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseCpuGen" aria-controls="collapseCpuGen" aria-expanded="false">
                                CPU Load Generator
                            </button>
                        </h2>
                        <div id="collapseCpuGen" class="accordion-collapse collapse"
                            data-bs-parent="#accordionGenerators">
                            <div class="accordion-body">
                                <p>This generator generates random CPU load in N threads for T seconds.</p>
                                <form hx-post="/cpuloadgen" hx-swap="none">
                                    <input id="threads" name="threads" value="10" min="1" max="96" type="number"
                                        class="form-control" />
                                    <label for="#threads" class="form-label">Threads</label>
                                    <br />
                                    <input id="duration" name="duration" value="10" min="1" max="600" type="number"
                                        class="form-control" />
                                    <label for="#duration" class="form-label">seconds lifetime (per task)</label>
                                    <br />
                                    <button class="btn btn-primary" type="submit">Spawn</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseBlockers" aria-controls="collapseBlockers"
                                aria-expanded="false">
                                Blockers Generator 🔴
                            </button>
                        </h2>
                        <div id="collapseBlockers" class="accordion-collapse collapse"
                            data-bs-parent="#accordionGenerators">
                            <div class="accordion-body">
                                <p>
                                    This generator create N tasks which will do <b>blocking</b> waits for M seconds. If
                                    you choose
                                    the same amount of tasks as you have CPUs, this should block the webserver for a
                                    moment. <i>this is for demonstrational purposes what should not be done with async
                                        rust.</i>
                                    </form>
                                </p>
                                <form hx-post="/blockers" hx-swap="none">
                                    <input id="tasks" name="tasks" value="10" min="1" max="1024" type="number"
                                        class="form-control" />
                                    <label for="#tasks" class="form-label">Tasks</label>
                                    <br />
                                    <input id="time" name="time" value="5" min="1" max="60" type="number"
                                        class="form-control" />
                                    <label for="#time" class="form-label">Seconds wait per Task</label>
                                    <br />
                                    <input id="spawn_blocking" name="spawn_blocking" class="form-check-input"
                                        type="checkbox" />
                                    <label for="#spawn_blocking" class="form-label">use <i>spawn_blocking</i> (should
                                        not block the webserver)</label>
                                    <br />
                                    <button class="btn btn-primary" type="submit">Spawn</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseChannel" aria-controls="collapseChannel" aria-expanded="false">
                                Channel Tasks generator
                            </button>
                        </h2>
                        <div id="collapseChannel" class="accordion-collapse collapse"
                            data-bs-parent="#accordionGenerators">
                            <div class="accordion-body">

                                <p>This generator generates one pinging tasks and N reading tasks. As long as the
                                    pinging task
                                    is
                                    sending an
                                    internal "PING" command, the receivers will survive. After all PING requests are
                                    sent, a
                                    TERMINATE
                                    signal is send and all receiver tasks and writer tasks shut down.</p>
                                <form hx-post="/channel" hx-swap="none">
                                    <input id="tasks" name="tasks" value="100" min="1" max="20000" type="number"
                                        class="form-control" />
                                    <label for="#tasks" class="form-label">Receiver Tasks</label>
                                    <br />
                                    <input id="time" name="time" value="10" min="1" max="60" type="number"
                                        class="form-control" />
                                    <label for="#time" class="form-label">seconds delay between ping</label>
                                    <br />
                                    <input id="repeat" name="repeat" value="10" min="1" max="60" type="number"
                                        class="form-control" />
                                    <label for="#repeat" class="form-label">repetitions of PING command, until a
                                        TERMINATE is
                                        send</label>
                                    <br />
                                    <button class="btn btn-primary" type="submit">Spawn</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseRedis" aria-controls="collapseRedis" aria-expanded="false">
                                Redis Keys Generator
                            </button>
                        </h2>
                        <div id="collapseRedis" class="accordion-collapse collapse"
                            data-bs-parent="#accordionGenerators">
                            <div class="accordion-body">
                                <p>This generator will first create N worker tasks, of which each will create X keys on
                                    a redis
                                    server.
                                    Then, another number N worker tasks are created which will then delete those keys.
                                </p>
                                <form hx-post="/rediskeys" hx-swap="none">
                                    <input id="tasks" name="tasks" value="10" min="1" max="60" type="number"
                                        class="form-control" />
                                    <label for="#tasks" class="form-label">Worker Tasks</label>
                                    <br />
                                    <input id="keys" name="keys" value="10000" min="1" max="512000" type="number"
                                        class="form-control" />
                                    <label for="#keys" class="form-label">Keys per Task</label>
                                    <br />
                                    <input id="delete" name="delete" class="form-check-input" type="checkbox" />
                                    <label for="#delete" class="form-label">delete keys after insertion</label>
                                    <br />
                                    <button class="btn btn-primary" type="submit">Spawn</button>
                                </form>
                            </div>
                        </div>
                        <div>
                            <a href="soccer_field">Soccer Field</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" id="middle_column">
                <h3>Live Statistics</h3>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4>Charts</h4>
                            <canvas id="tasks_chart"></canvas>
                            <canvas id="cpu_chart"></canvas>
                            <canvas id="mem_chart"></canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>System Information:</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                Hostname: {{ sysinfo.hostname }}
                            </p>
                            <p>
                                OS: {{ sysinfo.os }} 
                            </p>
                            <p>
                                Runtime Workers: {{ sysinfo.workers }}                               
                            </p>
                            <p>
                                Redis Keys: #<span id="redis_keys_stats"></span>
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                CPU Brand: {{ sysinfo.cpu.brand }}                                 
                            </p>
                            <p>
                                CPU Count: {{ sysinfo.cpus | length }} @ {{ sysinfo.cpu.frequency }} MHz                          
                            </p>
                            <p>
                                Total Memory: {{ sysinfo.mem / (1024 * 1024) | round }} MB                                
                            </p>
                            <p>
                                Last Update: <span id="last_update_stats"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                {% if chat %}
                <h3>Chat</h3>
                <div class="card">
                    <div class="card-body" id="chat">
                        <form hx-post="/chat" hx-target="#chat">
                            <input id="name" name="name" type="text" class="form-control" />
                            <label for="#tasks" class="form-label">Username</label>
                            <br />
                            <button class="btn btn-primary" type="submit">Join Chat</button>
                        </form>
                    </div>
                </div>

                {% endif %}
                <div class="card">
                    <div class="card-body" id="soccerFieldCard">
                    <svg width="400" height="800" id="soccerField">
                        <rect width="100%" height="100%" fill="#4CAF50" />

                        <!-- Outer boundary -->
                        <rect x="0" y="0" width="400" height="800" class="line" />

                        <!-- Center line -->
                        <line x1="0" y1="400" x2="400" y2="400" class="line" />

                        <!-- Center circle -->
                        <circle cx="200" cy="400" r="50" fill="none" class="line" />

                        <!-- Penalty areas -->
                        <rect x="150" y="0" width="100" height="60" fill="none" class="line" />
                        <rect x="150" y="740" width="100" height="60" fill="none" class="line" />

                        <!-- Goals -->
                        <rect x="175" y="0" width="50" height="10" fill="none" class="line" />
                        <rect x="175" y="790" width="50" height="10" fill="none" class="line" />

                        <!-- Player -->

                        <!-- Ball -->
                        <circle class="ball" cx="200" cy="400" r="8" id="ball" />
                    </svg>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <small>built with rust, tokio, minijinja, htmx, chart.js and bootstrap</small>
    </div>
    <span id="messageCountMax" value="{{ messageCountMax }}" hidden></span>
    <span id="statsHistory" value="{{ statsHistory }}" hidden></span>
    <script src="https://unpkg.com/htmx.org@1.9.9"
        integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="static/custom.js"></script>
</body>

</html>